

<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title> EWSNet Code  documentation</title>
  
  <link rel="stylesheet" href="_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="_static/pygments.css" type="text/css" />

  
  

  
  

  

  
  <!--[if lt IE 9]>
    <script src="_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="./" src="_static/documentation_options.js"></script>
        <script src="_static/jquery.js"></script>
        <script src="_static/underscore.js"></script>
        <script src="_static/doctools.js"></script>
        <script src="_static/language_data.js"></script>
        <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script type="text/javascript" src="_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="genindex.html" />
    <link rel="search" title="Search" href="search.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="#" class="icon icon-home"> EWSNet
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <!-- Local TOC -->
              <div class="local-toc"><ul>
<li><a class="reference internal" href="#">Welcome to EWSNet’s documentation!</a></li>
<li><a class="reference internal" href="#module-src.inference.ewsnet.EWSNet">Inference using Pretrained EWSNet</a></li>
<li><a class="reference internal" href="#data-generation-and-preprocessing">Data Generation and Preprocessing</a></li>
<li><a class="reference internal" href="#module-src.utils.generic_utils">Data Loading</a></li>
<li><a class="reference internal" href="#module-src.model_training.exp_utils">Model Training and Evaluation</a></li>
<li><a class="reference internal" href="#finetuning-ewsnet">Finetuning EWSNet</a></li>
<li><a class="reference internal" href="#indices-and-tables">Indices and tables</a></li>
</ul>
</div>
            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="#">EWSNet</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          

















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="#" class="icon icon-home"></a> &raquo;</li>
        
      <li>Welcome to EWSNet’s documentation!</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="_sources/index.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="welcome-to-ewsnet-s-documentation">
<h1>Welcome to EWSNet’s documentation!<a class="headerlink" href="#welcome-to-ewsnet-s-documentation" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
</div>
</div>
<div class="section" id="module-src.inference.ewsnet.EWSNet">
<span id="inference-using-pretrained-ewsnet"></span><h1>Inference using Pretrained EWSNet<a class="headerlink" href="#module-src.inference.ewsnet.EWSNet" title="Permalink to this headline">¶</a></h1>
<p>This is a wrapper class to load pretrained EWSNet models and perform inference on custom data points.
To instanatiate this inference wrapper, you need to have pretrained weights stored in a local directory.
Supports ensembling multiple models for increased reliability and robustness.</p>
</div>
<div class="section" id="data-generation-and-preprocessing">
<h1>Data Generation and Preprocessing<a class="headerlink" href="#data-generation-and-preprocessing" title="Permalink to this headline">¶</a></h1>
<dl class="function">
<dt id="src.generate_data.simulate_data">
<code class="sig-prename descclassname">src.generate_data.</code><code class="sig-name descname">simulate_data</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#src.generate_data.simulate_data" title="Permalink to this definition">¶</a></dt>
<dd><p>Generate multiple time series using the Euler Maruyama method</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><p><strong>x</strong> – a variable</p>
</dd>
</dl>
</dd></dl>

<dl class="function">
<dt id="src.generate_data.model1">
<code class="sig-prename descclassname">src.generate_data.</code><code class="sig-name descname">model1</code><span class="sig-paren">(</span><em class="sig-param">n_max</em>, <em class="sig-param">c</em>, <em class="sig-param">c_max</em>, <em class="sig-param">r</em>, <em class="sig-param">b</em>, <em class="sig-param">M</em>, <em class="sig-param">corr</em><span class="sig-paren">)</span><a class="headerlink" href="#src.generate_data.model1" title="Permalink to this definition">¶</a></dt>
<dd><p>Generate multiple stochastic time series using the Euler Maruyama method to solve the differential equation:</p>
<p><span class="math notranslate nohighlight">\(\frac{dN}{dt} = rN(1-\frac{N}{K})-\frac{cN^{2}}{b^{2}+N^{2}}\)</span>.</p>
<p>The values of sigma and k are varied within a range in order to add variability across time series to generate time series with increased variablility.</p>
<p>Change the value of corr to generate time series when system is perturbed with colored noise of different amplitude.</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><ul class="simple">
<li><p><strong>k</strong> – carrying capacity</p></li>
<li><p><strong>r</strong> – maximum growth rate</p></li>
<li><p><strong>c</strong> – maximum grazing rate</p></li>
<li><p><strong>b</strong> – half saturation constant</p></li>
<li><p><strong>M</strong> – Number of time series to be generated for the given set of parameter values</p></li>
<li><p><strong>n_max</strong> – number of timesteps</p></li>
<li><p><strong>corr</strong> – Correlation time</p></li>
<li><p><strong>x0</strong> – initial condition.</p></li>
</ul>
</dd>
</dl>
</dd></dl>

</div>
<div class="section" id="module-src.utils.generic_utils">
<span id="data-loading"></span><h1>Data Loading<a class="headerlink" href="#module-src.utils.generic_utils" title="Permalink to this headline">¶</a></h1>
<dl class="function">
<dt id="src.utils.generic_utils.load_dataset_at">
<code class="sig-prename descclassname">src.utils.generic_utils.</code><code class="sig-name descname">load_dataset_at</code><span class="sig-paren">(</span><em class="sig-param">index</em>, <em class="sig-param">normalize_timeseries=False</em>, <em class="sig-param">verbose=True</em>, <em class="sig-param">is_timeseries=True) -&gt; (&lt;built-in function array&gt;</em>, <em class="sig-param">&lt;built-in function array&gt;</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/src/utils/generic_utils.html#load_dataset_at"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#src.utils.generic_utils.load_dataset_at" title="Permalink to this definition">¶</a></dt>
<dd><p>Loads a Univaraite UCR Dataset indexed by <cite>utils.constants</cite>.</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><ul class="simple">
<li><p><strong>index</strong> – Integer index, set inside <cite>utils.constants</cite> that refers to the dataset.</p></li>
<li><p><strong>normalize_timeseries</strong> – Bool / Integer. Determines whether to normalize the timeseries.
If False, does not normalize the time series.
If True / int not equal to 2, performs standard sample-wise z-normalization.
If 2: Performs full dataset z-normalization.</p></li>
<li><p><strong>verbose</strong> – Whether to describe the dataset being loaded.</p></li>
</ul>
</dd>
<dt class="field-even">Returns</dt>
<dd class="field-even"><p>A tuple of shape (X_train, y_train, X_test, y_test, is_timeseries).
For legacy reasons, is_timeseries is always True.</p>
</dd>
</dl>
</dd></dl>

<dl class="function">
<dt id="src.utils.generic_utils.plot_roc">
<code class="sig-prename descclassname">src.utils.generic_utils.</code><code class="sig-name descname">plot_roc</code><span class="sig-paren">(</span><em class="sig-param">y_test</em>, <em class="sig-param">y_score</em>, <em class="sig-param">figname='none'</em>, <em class="sig-param">n_classes=3</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/src/utils/generic_utils.html#plot_roc"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#src.utils.generic_utils.plot_roc" title="Permalink to this definition">¶</a></dt>
<dd><p>Trains a provided Model, given a dataset id.</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><ul class="simple">
<li><p><strong>model</strong> – A Keras Model.</p></li>
<li><p><strong>dataset_id</strong> – Integer id representing the dataset index containd in
<cite>utils/constants.py</cite>.</p></li>
<li><p><strong>dataset_prefix</strong> – Name of the dataset. Used for weight saving.</p></li>
<li><p><strong>epochs</strong> – Number of epochs to train.</p></li>
<li><p><strong>batch_size</strong> – Size of each batch for training.</p></li>
<li><p><strong>val_subset</strong> – Optional integer id to subset the test set. To be used if
the test set evaluation time significantly surpasses training time
per epoch.</p></li>
<li><p><strong>cutoff</strong> – Optional integer which slices of the first <cite>cutoff</cite> timesteps
from the input signal.</p></li>
<li><p><strong>normalize_timeseries</strong> – <p>Bool / Integer. Determines whether to normalize
the timeseries.</p>
<p>If False, does not normalize the time series.
If True / int not equal to 2, performs standard sample-wise</p>
<blockquote>
<div><p>z-normalization.</p>
</div></blockquote>
<p>If 2: Performs full dataset z-normalization.</p>
</p></li>
<li><p><strong>learning_rate</strong> – Initial learning rate.</p></li>
</ul>
</dd>
</dl>
</dd></dl>

</div>
<div class="section" id="module-src.model_training.exp_utils">
<span id="model-training-and-evaluation"></span><h1>Model Training and Evaluation<a class="headerlink" href="#module-src.model_training.exp_utils" title="Permalink to this headline">¶</a></h1>
<dl class="function">
<dt id="src.model_training.exp_utils.evaluate_model">
<code class="sig-prename descclassname">src.model_training.exp_utils.</code><code class="sig-name descname">evaluate_model</code><span class="sig-paren">(</span><em class="sig-param">model: tensorflow.python.keras.engine.training.Model</em>, <em class="sig-param">dataset_id</em>, <em class="sig-param">dataset_prefix</em>, <em class="sig-param">batch_size=128</em>, <em class="sig-param">test_data_subset=None</em>, <em class="sig-param">cutoff=None</em>, <em class="sig-param">normalize_timeseries=False</em>, <em class="sig-param">error_analysis=False</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/src/model_training/exp_utils.html#evaluate_model"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#src.model_training.exp_utils.evaluate_model" title="Permalink to this definition">¶</a></dt>
<dd><p>Evaluates a given Keras Model on the provided dataset.</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><ul class="simple">
<li><p><strong>model</strong> – A Keras Model.</p></li>
<li><p><strong>dataset_id</strong> – Integer id representing the dataset index containd in
<cite>utils/constants.py</cite>.</p></li>
<li><p><strong>dataset_prefix</strong> – Name of the dataset. Used for weight saving.</p></li>
<li><p><strong>batch_size</strong> – Size of each batch for evaluation.</p></li>
<li><p><strong>test_data_subset</strong> – Optional integer id to subset the test set. To be used if
the test set evaluation time is significantly.</p></li>
<li><p><strong>cutoff</strong> – Optional integer which slices of the first <cite>cutoff</cite> timesteps
from the input signal.</p></li>
<li><p><strong>normalize_timeseries</strong> – <p>Bool / Integer. Determines whether to normalize
the timeseries.</p>
<p>If False, does not normalize the time series.
If True / int not equal to 2, performs standard sample-wise</p>
<blockquote>
<div><p>z-normalization.</p>
</div></blockquote>
<p>If 2: Performs full dataset z-normalization.</p>
</p></li>
</ul>
</dd>
<dt class="field-even">Returns</dt>
<dd class="field-even"><p>The test set accuracy of the model.</p>
</dd>
</dl>
</dd></dl>

<dl class="function">
<dt id="src.model_training.exp_utils.train_model">
<code class="sig-prename descclassname">src.model_training.exp_utils.</code><code class="sig-name descname">train_model</code><span class="sig-paren">(</span><em class="sig-param">model: tensorflow.python.keras.engine.training.Model</em>, <em class="sig-param">dataset_id</em>, <em class="sig-param">dataset_prefix</em>, <em class="sig-param">epochs=50</em>, <em class="sig-param">batch_size=128</em>, <em class="sig-param">val_subset=5000</em>, <em class="sig-param">cutoff=None</em>, <em class="sig-param">normalize_timeseries=False</em>, <em class="sig-param">learning_rate=1e-05</em>, <em class="sig-param">prediction=False</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/src/model_training/exp_utils.html#train_model"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#src.model_training.exp_utils.train_model" title="Permalink to this definition">¶</a></dt>
<dd><p>Trains a provided Model, given a dataset id.</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><ul class="simple">
<li><p><strong>model</strong> – A Keras Model.</p></li>
<li><p><strong>dataset_id</strong> – Integer id representing the dataset index containd in <cite>utils/constants.py</cite>.</p></li>
<li><p><strong>dataset_prefix</strong> – Name of the dataset. Used for weight saving.</p></li>
<li><p><strong>epochs</strong> – Number of epochs to train.</p></li>
<li><p><strong>batch_size</strong> – Size of each batch for training.</p></li>
<li><p><strong>val_subset</strong> – Optional integer id to subset the test set. To be used if the test set evaluation time significantly surpasses training time per epoch.</p></li>
<li><p><strong>cutoff</strong> – Optional integer which slices of the first <cite>cutoff</cite> timesteps from the input signal.</p></li>
<li><p><strong>normalize_timeseries</strong> – Bool / Integer. Determines whether to normalize the timeseries.
If False, does not normalize the time series.
If True / int not equal to 2, performs standard sample-wise z-normalization.
If 2: Performs full dataset z-normalization.</p></li>
<li><p><strong>learning_rate</strong> – Initial learning rate.</p></li>
</ul>
</dd>
<dt class="field-even">Returns</dt>
<dd class="field-even"><p>The trained model.</p>
</dd>
</dl>
</dd></dl>

</div>
<div class="section" id="finetuning-ewsnet">
<h1>Finetuning EWSNet<a class="headerlink" href="#finetuning-ewsnet" title="Permalink to this headline">¶</a></h1>
</div>
<div class="section" id="indices-and-tables">
<h1>Indices and tables<a class="headerlink" href="#indices-and-tables" title="Permalink to this headline">¶</a></h1>
<ul class="simple">
<li><p><a class="reference internal" href="genindex.html"><span class="std std-ref">Index</span></a></p></li>
<li><p><a class="reference internal" href="py-modindex.html"><span class="std std-ref">Module Index</span></a></p></li>
<li><p><a class="reference internal" href="search.html"><span class="std std-ref">Search Page</span></a></p></li>
</ul>
</div>


           </div>
           
          </div>
          <footer>

  <hr/>

  <div role="contentinfo">
    <p>
        &#169; Copyright 2021, Sahil Sidheekh.

    </p>
  </div>
    
    
    
    Built with <a href="https://www.sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/readthedocs/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>
        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>